# Data Science Project: Football Results Between 1872-2017

This is a statiscal analysis of football matches between 1872 and 2017

Source: [Resultados de futbol entre 1872 y 2017](https://www.kaggle.com/ramnquintana/resultados-de-futbol-entre-1872-y-2017/version/1)

#### Members:
_____Matute

Daniel Martínez

In [1]:
import pandas as pd
import numpy as np

In [2]:
football_data = pd.read_csv("results.csv")
football_data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41238,2019-10-20,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,Lesotho,Lesotho,False
41239,2019-10-20,Guinea,Senegal,1,0,African Nations Championship qualifying,Conakry,Guinea,False
41240,2019-10-20,Mali,Mauritania,2,0,African Nations Championship qualifying,Mali,Mali,False
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False

In [3]:
football_data["home_score"]

0        0
1        4
2        2
3        2
4        3
        ..
41238    0
41239    1
41240    2
41241    0
41242    1
Name: home_score, Length: 41243, dtype: int64

In [4]:
football_data["away_score"]

0        0
1        2
2        1
3        2
4        0
        ..
41238    0
41239    0
41240    0
41241    0
41242    0
Name: away_score, Length: 41243, dtype: int64

In [5]:
home = np.array(football_data["home_score"])
print(home)

[0 4 2 ... 2 0 1]

In [6]:
away = np.array(football_data["away_score"])
print(away)

[0 2 1 ... 0 0 0]

### Mean

#### Home Score Mean

In [7]:
home_mean = np.mean(home)
home_mean

1.744974904832335

#### Away Score Mean

In [8]:
away_mean = np.mean(away)
away_mean

1.1893169750018184

### Median

#### Home Score Median

In [9]:
home_median = np.median(home)
home_median

1.0

#### Away Score Median

In [10]:
away_median = np.median(away)
away_median

1.0

### Mode

#### Home Score Mode

#### Away Score Mode

### Max Home Score

In [11]:
home.max()

31

### Min Away Score

In [12]:
away.max()

21

### Group By

In [13]:
football_data.groupby("home_team").max()

,date,away_team,home_score,away_score,tournament,city,country,neutral
home_team,,,,,,,,
Abkhazia,2019-06-08,Western Armenia,9,2,Friendly,Östersund,Sweden,True
Afghanistan,2018-12-25,Vietnam,5,6,SAFF Cup,al-Wakrah,United Arab Emirates,True
Albania,2019-09-10,Yugoslavia,6,5,UEFA Nations League,Évian-les-Bains,Turkey,True
Alderney,2019-06-16,Ynys Môn,2,6,Island Games,Väskinde,Wales,True
Algeria,2019-10-15,Zimbabwe,15,5,UAFA Cup,Ziguinchor,Tunisia,True
...,...,...,...,...,...,...,...,...
Yugoslavia,1991-05-16,Wales,9,6,UEFA Euro qualification,Zenica,Yugoslavia,True
Zambia,2019-10-19,Zimbabwe,11,5,Simba Tournament,Zomba,Zimbabwe,True
Zanzibar,2017-12-05,Zimbabwe,6,7,Viva World Cup,Zanzibar Town,Zanzibar,True
Zimbabwe,2019-09-22,Zambia,6,5,Friendly,Windhoek,Zimbabwe,True
Åland Islands,2017-06-27,Ynys Môn,4,5,Island Games,Åland,Sweden,True

In [14]:
football_data.groupby("away_team").max()

,date,home_team,home_score,away_score,tournament,city,country,neutral
away_team,,,,,,,,
Abkhazia,2019-06-04,Sápmi,3,3,Friendly,Östersund,Sweden,True
Afghanistan,2019-06-06,Vietnam,11,8,SAFF Cup,al-Ramm,Vietnam,True
Albania,2019-10-14,Yugoslavia,12,4,UEFA Nations League,Zenica,Yugoslavia,True
Alderney,2019-06-20,Saare County,7,3,Island Games,Säve,Wales,True
Algeria,2019-10-19,Zimbabwe,5,4,UAFA Cup,Örebro,Zimbabwe,True
...,...,...,...,...,...,...,...,...
Yugoslavia,1999-12-23,Wales,7,10,UEFA Euro qualification,Łódź,Wales,True
Zambia,2019-10-13,Zimbabwe,10,9,Simba Tournament,al-Wakrah,Zimbabwe,True
Zanzibar,2017-12-17,Zambia,10,7,Viva World Cup,Port Sudan,Zambia,True
Zimbabwe,2019-10-20,Zanzibar,7,7,Simba Tournament,Zomba,Zaïre,True
Åland Islands,2017-06-29,Ynys Môn,7,4,Island Games,Visby,Sweden,True

In [15]:
venezuela = football_data[(football_data["home_team"] == "Venezuela")]
venezuela["home_score"].max()

5

In [16]:
football_data[(football_data["home_team"] == "Venezuela") & (football_data["home_score"] == 5)]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
29098,2007-03-28,Venezuela,New Zealand,5,0,Friendly,Maracaibo,Venezuela,False
29767,2007-11-20,Venezuela,Bolivia,5,3,FIFA World Cup qualification,San Cristóbal,Venezuela,False
38424,2016-11-10,Venezuela,Bolivia,5,0,FIFA World Cup qualification,Maturín,Venezuela,False

In [17]:
argentina = football_data[(football_data["home_team"] == "Argentina")]
argentina["home_score"].max()

12

In [18]:
football_data[(football_data["home_team"] == "Argentina") & (football_data["home_score"] == 12)]

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
2374,1942-01-22,Argentina,Ecuador,12,0,Copa América,Montevideo,Uruguay,True

#### ideas

In [19]:
football_data[["home_team","home_score"]]

          home_team  home_score
0          Scotland           0
1           England           4
2          Scotland           2
3           England           2
4          Scotland           3
...             ...         ...
41238       Lesotho           0
41239        Guinea           1
41240          Mali           2
41241  Burkina Faso           0
41242   Ivory Coast           1

[41243 rows x 2 columns]

mayor puntaje = equipo visitante y local

media del home_score y del away_score

mediana del home_score y del away_score

moda del home_score y del away_score

buscar info 1872 y 2017

In [20]:
data_frame['puntaje_total'] = (data_frame['num_sequences'] / data_frame['num_sequences_total']) * 100

NameError: name 'data_frame' is not defined