# Data Science Project: Football Results Between 1872-2017

This is a statiscal analysis of football matches between 1872 and 2017

Source: [Resultados de futbol entre 1872 y 2017](https://www.kaggle.com/ramnquintana/resultados-de-futbol-entre-1872-y-2017/version/1)

#### Members:
_____Matute

Daniel Martínez

In [1]:
import pandas as pd
import numpy as np

In [2]:
football_data = pd.read_csv("results.csv")
football_data

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False
...,...,...,...,...,...,...,...,...,...
41238,2019-10-20,Lesotho,Zimbabwe,0,0,African Nations Championship qualifying,Lesotho,Lesotho,False
41239,2019-10-20,Guinea,Senegal,1,0,African Nations Championship qualifying,Conakry,Guinea,False
41240,2019-10-20,Mali,Mauritania,2,0,African Nations Championship qualifying,Mali,Mali,False
41241,2019-10-20,Burkina Faso,Ghana,0,0,African Nations Championship qualifying,Burkina Faso,Burkina Faso,False
41242,2019-10-20,Ivory Coast,Niger,1,0,African Nations Championship qualifying,Ivory Coast,Ivory Coast,False

In [3]:
football_data["home_score"]

0        0
1        4
2        2
3        2
4        3
        ..
41238    0
41239    1
41240    2
41241    0
41242    1
Name: home_score, Length: 41243, dtype: int64

In [4]:
football_data["away_score"]

0        0
1        2
2        1
3        2
4        0
        ..
41238    0
41239    0
41240    0
41241    0
41242    0
Name: away_score, Length: 41243, dtype: int64

In [5]:
home = np.array(football_data["home_score"])
print(home)

[0 4 2 ... 2 0 1]

In [6]:
away = np.array(football_data["away_score"])
print(away)

[0 2 1 ... 0 0 0]

### Mean

#### Home Score Mean

In [7]:
home_mean = np.mean(home)
home_mean

1.744974904832335

#### Away Score Mean

In [8]:
away_mean = np.mean(away)
away_mean

1.1893169750018184

### Median

#### Home Score Median

In [9]:
home_median = np.median(home)
home_median

1.0

#### Away Score Median

In [10]:
away_median = np.median(away)
away_median

1.0

### Mode

#### Home Score Mode

#### Away Score Mode

#### ideas

In [11]:
football_data[["home_team","home_score"]]

          home_team  home_score
0          Scotland           0
1           England           4
2          Scotland           2
3           England           2
4          Scotland           3
...             ...         ...
41238       Lesotho           0
41239        Guinea           1
41240          Mali           2
41241  Burkina Faso           0
41242   Ivory Coast           1

[41243 rows x 2 columns]

mayor puntaje = equipo visitante y local

media del home_score y del away_score

mediana del home_score y del away_score

moda del home_score y del away_score

buscar info 1872 y 2017

In [12]:
data_frame['puntaje_total'] = (data_frame['num_sequences'] / data_frame['num_sequences_total']) * 100

NameError: name 'data_frame' is not defined